body {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ochiq {
  align-items: center;
  padding: 6rem;
}

.body .yondi {
  background-image: url(/images/ONbulb-removebg-preview.png);
  align-items: center;
  padding: 6rem;
}
